
include header
body
    h1 Here is the list of all users:
    div#inlineForms
        form(action='/users' method='GET')
            +textInputW-Value("Search For User: ", "searchParam", searchParam)
            button(type='submit') SUBMIT
        form(action='/users' method='GET')
            button(type='submit') CLEAR
    table.userTable
        tr
            th Username
                a#sortuserNameLink(href="/users")
                    if sortingUp
                        i#sortUser(class="fas fa-sort-up")
                    else
                        i#sortUser(class="fas fa-sort-down")
            th Email
                a#sortemailLink(href="/users")
                    if sortingUp
                        i#sortEmail(class="fas fa-sort-up")
                    else
                        i#sortEmail(class="fas fa-sort-down")
            th Age
                a#sortageLink(href="/users")
                    if sortingUp
                        i#sortAge(class="fas fa-sort-up")
                    else
                        i#sortAge(class="fas fa-sort-down")
            th First Name
                a#sortfirstNameLink(href="/users")
                    if sortingUp
                        i#sortFirst(class="fas fa-sort-up")
                    else
                        i#sortFirst(class="fas fa-sort-down")
            th Last Name
                a#sortlastNameLink(href="/users")
                    if sortingUp
                        i#sortLast(class="fas fa-sort-up")
                    else
                        i#sortLast(class="fas fa-sort-down")

        each user in allUsers
            tr
                td #{user.userName}
                td #{user.email}
                td #{user.age}
                td #{user.firstName}
                td #{user.lastName}
                td
                    button
                        a(href='/users/'+user._id) EDIT
                td
                    button
                        a(href='/delete/'+user._id) DELETE
    a(href='/') Back to Add User
    script
        include ../public/users.js
